@layer components {
  .awfulface {
    position: relative;

    display: block;
    inline-size: 100%;
    block-size: 100%;

    color: var(--awfulface-ink, var(--clr-black, #000));

    .awfulface__static,
    .awfulface__canvas {
      display: block;

      inline-size: 100%;
      block-size: 100%;
    }

    .awfulface__static {
      background: currentColor;

      -webkit-mask: url("./awfulface-static.svg") center / contain no-repeat;

      mask: url("./awfulface-static.svg") center / contain no-repeat;
    }

    .awfulface__canvas {
      position: absolute;
      inset: 0;

      max-inline-size: none;

      visibility: hidden;
    }

    &[data-animated="true"] {
      .awfulface__static {
        visibility: hidden;
      }

      .awfulface__canvas {
        visibility: visible;
      }
    }
  }
}
