*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: var(--white);
  color: var(--black);
  font: 400 16px/1.35 var(--font);
  text-size-adjust: 100%;
}

body {
  min-width: 0;
  margin: 0;
  background: var(--white);
  color: var(--black);
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

[hidden] {
  display: none;
}
