node_modules/

dist/
dist-ssr/
build/
out/
.next/
.tmp/
.vercel/

*.local

.env
.env.local
.env.*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vscode/*
!.vscode/extensions.json

*.tsbuildinfo

coverage/

*.blend1
*.blend1

*.psd
*.psd
*.pdf
*.txt
*.mov
*.m4v


.vercel
