MEDIA_DESK_USERNAME=looksawful
MEDIA_DESK_PASSWORD_HASH=scrypt$v1$REPLACE_WITH_HASH
MEDIA_DESK_SESSION_SECRET=REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS
MEDIA_DESK_PUBLIC_ORIGIN=https://media.looksawful.ru
