.skeletons .media:empty,
.media-item:empty {
  min-height: 100%;
  background: var(--black);
}

.media.is-loading,
.media-item.is-loading {
  background: var(--black);
}

.media.is-loaded,
.media-item.is-loaded {
  background: transparent;
}
