@layer components {
  :where(.fluid-cursor-area) {
    position: relative;
    isolation: isolate;
  }

  .fluid-cursor {
    position: absolute;
    z-index: var(--fluid-cursor-layer, 10);
    inset: 0;

    display: block;
    inline-size: 100%;
    block-size: 100%;
    max-inline-size: none;

    pointer-events: none;
    mix-blend-mode: var(--fluid-cursor-blend-mode, difference);
  }

  .fluid-cursor[hidden] {
    display: none;
  }
}
